<div class="bg-image animated infinite zooming visible" 
	 style="background-image: url(&quot;../../../assets/img/photos/it-bg01.jpg&quot;);" 
	[style.height.px]="startHeight" 
	>
		<div class="container container-wide text-md">
            <i class="icon-before fa fa-comments text-primary"></i><font color="white">Have you got any questions? Write to me at </font><a href="#" class="text-primary">hello@suelo.pl</a>
		</div>



		<div class="container-intro v-bottom padding-v-80">
            <h1 class="text-lg margin-b-0">Hi! I’m <strong>Johnatan Doe</strong></h1>
            <h5 class="text-tertiary margin-b-40">experienced IT Engineer / Webdeveloper</h5>
            <span data-target="local-scroll"><a href="#resume" class="btn btn-lg btn-primary animated bounceIn visible active" data-animation="bounceIn"><span>Go to my resume!</span><i class="ti-arrow-down"></i></a></span>
            <a href="#" class="btn btn-link"><span>Download my CV</span><i class="ti-file"></i></a>
        </div>
		<img src="assets/img/photos/it-bg01.jpg" alt="..." style="display: none;">

		




</div>


