
<div class="parent">
<div class="bg-image animated infinite zooming visible" 
	 style="background-image: url(&quot;assets/img/photos/it-bg01.jpg&quot;);" 
	[style.height.px]="startHeight" 
	>

	<div class="visible-sm visible-xs hidden-md hidden-lg">
			<div class="container-wid text-md">
            <i class="icon-before fa fa-comments text-primary"></i><font color="white">Have you got any questions? Write to me at </font><a href="mailto:rahul.sachdeva@live.com" class="text-primary">rahul.sachdeva@live.com</a>
		</div>



		<div class="container-intr v-bottom padding-v-80">
            <h1 class="text-lg margin-b-0">Hi! I’m <strong>Rahul Sachdeva</strong></h1>
            <h5 class="text-tertiary margin-b-40">IT Engineer / Web Developer</h5>
            <span data-target="local-scroll"><a pageScroll href="#resume" class="btn btn-lg btn-primary animated bounceIn visible active" ><span>Go to my resume!</span><i class="ti-arrow-down"></i></a></span>
            <a href="https://drive.google.com/file/d/0B9fXZ5lxgBiZamhRTGhOWWQzTXc/view"><span>Download my CV</span><i class="ti-file"></i></a>
        </div>


	</div>
		
		
		




</div>


<div class="container-wide text-md hidden-xs hidden-sm">
            <i class="icon-before fa fa-comments text-primary"></i><font color="white">Have you got any questions? Write to me at </font><a href="mailto:rahul.sachdeva@live.com" class="text-primary">rahul.sachdeva@live.com</a>
		</div>



		<div class="container-intro v-bottom padding-v-80 hidden-xs hidden-sm">
            <h1 class="text-lg margin-b-0">Hi! I’m <strong>Rahul Sachdeva</strong></h1>
            <h5 class="text-tertiary margin-b-40">IT Engineer / Web Developer</h5>
            <span data-target="local-scroll"><a pageScroll href="#resume" class="btn btn-lg btn-primary animated bounceIn visible active" data-animation="bounceIn"><span>Go to my resume!</span><i class="ti-arrow-down"></i></a></span>
            <a href="https://drive.google.com/file/d/0B9fXZ5lxgBiZamhRTGhOWWQzTXc/view" class="btn btn-link"><span>Download my CV</span><i class="ti-file"></i></a>
        </div>


</div>