
	<app-navbar [id]="id"></app-navbar>


<div ng2-scrollable (elementVisible)="elementVis($event.id)">
 	<app-start id="start" ></app-start>

     <app-messenger [box]="messengerBox"  (onClose1)="formEvent($event)" ></app-messenger>

     <app-resume id="resume" [id]="resume" ></app-resume>

     <app-portfolio id="portfolio" (mobNavOffsetTop)="formEven($event)" ></app-portfolio>

     <app-testimonial id="testimonial" [id]="testimonial" ></app-testimonial>
     <app-posts id="posts" [id]="posts" ></app-posts>

     <app-contact id="contact" [id]="contact" (contactFormEvent)="formEvent($event)" ></app-contact>

</div>

