<a  id="mobile-nav-toggle" class="icon icon-circle icon-sm icon-primary icon-hover visible-xs visible-sm hidden-lg hidden-md" (click)="toggle1() " [style.visibility] ="visibility" [style.top.%]="mobNavOffsetTop"  >
    <i class="fa fa-bars menu-bar-icon"></i>
</a>

<ng-sidebar-container class="mobile-side-nav " [style.height.px] ="mobNavHeight"  ng2-scrollable  >
  <ng-sidebar #sidenav         [(opened)]="_opened"
        [mode]="'over'"
        [keyClose]="false"
        [position]="'right'"
        [animate] = "true"

         class="bg-white inner-mobile-side-nav  visible-xs visible-sm hidden-lg hidden-md">
   

	







    

<div  class="bg-white ">
    
        <img src="assets/img/rahul-thmb.jpg" alt="..." class="img-circle margin-b-30">

        <ul class="nav nav-vertical">
                <li><a pageScroll href="#start" class="active" [class.active]="id =='start'" ><span>Start</span></a></li>
                <li><a pageScroll  href="#resume" [class.active]="id =='resume'" ><span>Resume</span></a></li>
                <li><a pageScroll  href="#portfolio" [class.active]="id =='portfolio'" ><span>Portfolio</span></a></li>
                <li><a pageScroll href="#testimonial" [class.active]="id =='testimonial'" ><span>Testimonials</span></a></li>
                <li><a pageScroll href="#posts" [class.active]="id =='posts'" ><span>Latest Posts</span></a></li>
                <li><a pageScroll href="#contact" [class.active]="id =='contact'" ><span>Contact</span></a></li>
            
        </ul>

        <div class="margin-t-20">
            <strong class="text-sm">Check my social media!</strong>
            <ul class="list-inline margin-t-10">
                <li><a href="#" class="icon icon-xs"><i class="fa fa-facebook text-muted"></i></a></li>
                <li><a href="#" class="icon icon-xs"><i class="fa fa-twitter text-muted"></i></a></li>
                <li><a href="#" class="icon icon-xs"><i class="fa fa-google-plus text-muted"></i></a></li>
            </ul>
    </div>
    <a  class="mobile-nav-close icon icon-hover icon-xs icon-circle icon-primary" (click)="toggle1() "><i class="fa fa-times"></i></a>
</div>
  </ng-sidebar>
  
<app-website (mobNavPosition)="mobNavPosition($event)" (navActive)="navActive($event)" ></app-website>


  
</ng-sidebar-container>

