<div class="row bg-grey ">
<div class="col-md-3 hidden-xs hidden-sm"></div>
<div class="col-md-9 col-sm-12 col-xs-12">
<section id="portfolio" class="section padding-v-60">

        <!-- Content -->
        <div class="container container-wide">

            <h6 class="margin-b-50">Portfolio</h6>

            <!-- Filters -->
            <nav class="text-center">
                <ul class="nav nav-filter nav-pills margin-b-40 " data-filter-grid="#portfolio-list">
                    <li [class.active]="filter =='all'" ><a (click)="filterByChoice('');filter='all'" >All</a></li>
                    <li [class.active]="filter =='web'" ><a (click)="filterByChoice('angular');filter='web'"  >Web</a></li>
                    <li [class.active]="filter =='back-end'" ><a (click)="filterByChoice('laravel');filter='back-end'"  >Back-end</a></li>
                    <li [class.active]="filter =='mobile'" ><a (click)="filterByChoice('ionic');filter='mobile'" >Mobile</a></li>
                </ul>
            </nav>


            
            <div id="portfolio-list" class="row" >
                <!-- Masonry Sizer -->
                <!-- <div class="masonry-sizer col-lg-3 col-md-3 col-sm-6 col-xs-12"></div>   -->  

                <!-- Masonry Element -->
                <!-- <div class="margin-b-30 col-lg-5 col-md-5 col-sm-12 col-xs-12" >
                    <div class="gallery-item">
                        <div class="item-photo">
                            <a href="projects/project-example-it.html" ><img src="assets/img/projects/project-square01.jpg" alt=""></a>
                            <div class="item-hover bg-dark dark">
                                <div class="item-hover-content">
                                    <a href="projects/project-example-it.html" data-target="ajax-modal" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"></i></a>
                                    <a href="http://www.suelo.pl" target="_blank" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item-title">
                            <a href="projects/project-example-it.html" class="title">Corporate Identity Mockup</a>
                            <span class="caption text-muted">Mockups</span>
                        </div>
                    </div>
                </div>

                <div class=" margin-b-30 col-lg-2 col-md-2 col-sm-6 col-xs-12" >
                    <div class="gallery-item">
                        <div class="item-photo">
                            <a href="projects/project-example-it.html" data-target="ajax-modal"><img src="assets/img/projects/project-square02.jpg" alt=""></a>
                            <div class="item-hover bg-dark dark">
                                <div class="item-hover-content">
                                    <a href="projects/project-example-it.html" data-target="ajax-modal" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"></i></a>
                                    <a href="http://www.suelo.pl" target="_blank" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item-title">
                            <a href="projects/project-example-it.html" class="title">Corporate Identity Mockup</a>
                            <span class="caption text-muted">Mockups</span>
                        </div>
                    </div>
                </div>

                <div class="margin-b-30 col-lg-3 col-md-3 col-sm-6 col-xs-12" >
                    <div class="gallery-item">
                        <div class="item-photo">
                            <a href="projects/project-example-it.html" data-target="ajax-modal"><img src="assets/img/projects/project-vertical01.jpg" alt=""></a>
                            <div class="item-hover bg-dark dark">
                                <div class="item-hover-content">
                                    <a href="projects/project-example-it.html" data-target="ajax-modal" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"></i></a>
                                    <a href="http://www.suelo.pl" target="_blank" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item-title">
                            <a href="projects/project-example-it.html" class="title">Corporate Identity Mockup</a>
                            <span class="caption text-muted">Mockups</span>
                        </div>
                    </div>
                </div>


                <div class="col-md-2 col-lg-2 blank hidden-sm hidden-xs"></div>

                <div class="webdesign masonry-item margin-b-30 col-lg-2 col-md-2 col-sm-6 col-xs-12" >
                    <div class="gallery-item">
                        <div class="item-photo">
                            <a href="projects/project-example-it.html" data-target="ajax-modal"><img src="assets/img/projects/project-vertical02.jpg" alt=""></a>
                            <div class="item-hover bg-dark dark">
                                <div class="item-hover-content">
                                    <a href="projects/project-example-it.html" data-target="ajax-modal" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"></i></a>
                                    <a href="http://www.suelo.pl" target="_blank" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item-title">
                            <a href="projects/project-example-it.html" class="title">Corporate Identity Mockup</a>
                            <span class="caption text-muted">Mockups</span>
                        </div>
                    </div>
                </div>

                <div class="development masonry-item margin-b-30 col-lg-5 col-md-5 col-sm-12 col-xs-12" >
                    <div class="gallery-item">
                        <div class="item-photo">
                            <a href="projects/project-example-it.html" data-target="ajax-modal"><img src="assets/img/projects/project-horizontal01.jpg" alt=""></a>
                            <div class="item-hover bg-dark dark">
                                <div class="item-hover-content">
                                    <a href="projects/project-example-it.html" data-target="ajax-modal" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"></i></a>
                                    <a href="http://www.suelo.pl" target="_blank" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item-title">
                            <a href="projects/project-example-it.html" class="title">Corporate Identity Mockup</a>
                            <span class="caption text-muted">Mockups</span>
                        </div>
                    </div>
                </div>


                <div class="graphic masonry-item margin-b-30 col-lg-2 col-md-2 col-sm-6 col-xs-12" >
                    <div class="gallery-item">
                        <div class="item-photo">
                            <a href="projects/project-example-it.html" data-target="ajax-modal"><img src="assets/img/projects/project-square03.jpg" alt=""></a>
                            <div class="item-hover bg-dark dark">
                                <div class="item-hover-content">
                                    <a href="projects/project-example-it.html" data-target="ajax-modal" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"></i></a>
                                    <a href="http://www.suelo.pl" target="_blank" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item-title">
                            <a href="projects/project-example-it.html" class="title">Corporate Identity Mockup</a>
                            <span class="caption text-muted">Mockups</span>
                        </div>
                    </div>
                </div> -->


                <masonry [useImagesLoaded]="true" gutter="10" columnWidth="80" fitWidth="true">
                   <masonry-brick class="brick brick1" *ngFor="let portfolio of portfolios">
                    <div class="gallery-item">
                        <div class="item-photo">
                            <a target="_blank"  (click)="lgModal.show();mobNav()" ><img src="{{ portfolio.img }}" alt="{{ portfolio.title }}"></a>
                            <div class="item-hover bg-dark dark">
                                <div class="item-hover-content">
                                    <a (click)="lgModal.show();mobNav()" class="icon icon-sm icon-hover icon-circle icon-primary"><i class="fa fa-link"   ></i></a>
                                        
                                    


                                    <a href="{{ portfolio.git }}" target="_blank" class="icon icon-sm icon-circle icon-white icon-hover"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="item-title">
                            <a href="{{ portfolio.git }}" class="title">{{ portfolio.title }}</a>
                            <span class="caption text-muted">{{ portfolio.desc }}</span>
                        </div>
                    </div>


                    <div bsModal #lgModal="bs-modal" class="modal  modal-fullscreen fade" id="modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop:false}">
                            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 bg-white">
    
                                <div class="container container-wide ">
                                    <div class="row margin-b-50">
                                        <div class="col-lg-8 col-lg-offset-1">
                                            <h1> <strong>{{ portfolio.title }}</strong> </h1>
                                            <p class="lead">{{ portfolio.desc }}</p>
                                        </div>
                                    </div>

                                    <div class="margin-b-80">
                                        <img src="{{ portfolio.img }}" class="margin-b-10" alt="">
                                        <div class="margin-b-20 text-center text-sm text-muted">{{ portfolio.title }}</div>
                                       
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-8 col-lg-offset-1">
                                            <h1>To made this website we have used <strong>4</strong> diffrent technologies.</h1>
                                        </div>
                                    </div>
                                    <div class="row">  
                                        <div >
                                            <div class="row margin-b-30">
                                                <div class="col-md-3">
                                                    <div class="icon icon-circle icon-grey"><i class="fa fa-html5"></i></div>
                                                </div>  
                                                <div class="col-md-3">
                                                    <div class="icon icon-circle icon-grey"><i class="fa fa-css3"></i></div>
                                                </div>  
                                                <div class="col-md-3">
                                                    <div class="icon icon-circle icon-grey"><i class="fa fa-apple"></i></div>
                                                </div>  
                                                <div class="col-md-3">
                                                    <div class="icon icon-circle icon-grey"><i class="fa fa-android"></i></div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Close -->
                                <a  class="close icon icon-hover icon-primary icon-circle icon-sm" (click)="lgModal.hide();mobNav()" ><i class="fa fa-close"></i></a>
                            </div>
                    
                    </div>

                   </masonry-brick>
                </masonry>
            </div>    

        </div>
        
    </section>

</div>
</div>