@media only screen and (max-width: 1199px){
.header-vertical .section {
    padding-left: 250px;
}
}
@media only screen and (max-width: 1480px){
.header-vertical .section {
    padding-left: 280px;
}

}
.header-vertical .section {
    padding-left: 320px;
}
.bg-grey {
    background-color: #f8f8f8;
}
.section, .speciality-icon, .timeline, .timeline-event {
    position: relative;
}
#messenger, .gallery-item, .section {
    overflow: hidden;
}
.padding-v-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}


in-b-50 {
    margin-bottom: 50px!important;
}
h6 {
    font-size: 13px;
    color: rgba(0,0,0,.3);
    margin-bottom: 16px;
}
h5, h6 {
    font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
.example-box-title, .label, h6 {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}


.margin-b-40 {
    margin-bottom: 40px!important;
    margin-left: 25%;
}





   .nav-pills>li>a {
    border-radius: 40px;
    padding: 12px 26px;
    font-weight: 500;
    border: none;
    background-color: rgba(0,0,0,.05);
    color: #909090;
}

.nav-pills>li.active>a{
	color:white;
}





.margin-b-30 {
    margin-bottom: 30px!important;
}

.blank{
	width: 100%
}


.gallery-item {
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

.gallery-item, .gallery-item .item-photo {
    position: relative;
}



img {
    max-width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}


.gallery-item .item-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5% 10%;
    transition: all .5s;
    -webkit-transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.bg-dark {
    background-color: rgba(0,0,0,.7);
}
.dark, .nav-vertical>li.active>a, .nav-vertical>li>a.active {
    color: #fff;
}



.gallery-item:hover .item-hover-content {
    opacity: 1;
    transform: translate3d(0,-50%,0) scale(1);
    -webkit-transform: translate3d(0,-50%,0) scale(1);
}

.gallery-item .item-hover-content {
    position: relative;
    top: 50%;
    text-align: center;
    opacity: 0;
    transform: translate3d(0,-50%,0) scale(.5);
    -webkit-transform: translate3d(0,-50%,0) scale(.5);
    transition: all .2s cubic-bezier(.175,.885,.32,1.275) .2s;
    -webkit-transition: all .2s cubic-bezier(.175,.885,.32,1.275) .2s;
}





.bg-primary, .btn-primary, .progress-bar-primary, .te-primary:before, .icon-circle.icon-primary, .nav-vertical > li > a:before, .nav-horizontal > li > a:before, #messenger-box:before, #messenger-toggle:hover, #messenger-toggle:focus, .icon-white.icon-hover:hover, .icon-white.icon-hover:focus, .pace .pace-progress:before, .label-primary, .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover, .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover, .nav-panels > li.active > a, .nav-panels > li.active > a:focus, .nav-panels > li.active > a:hover, #ajax-loader:before, .owl-pagination .owl-page.active > span {
    background-color: #3aa8db;
}
.icon-sm.icon-circle {
    font-size: 16px;
    height: 56px;
}
.icon.icon-hover {
    transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus, :focus, a:focus, a:visited, input:focus, textarea:focus {
    outline: 0;
}
.icon-sm {
    font-size: 42px;
    width: 56px;
}
.icon-circle {
    position: relative;
    font-size: 32px;
    height: 56px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
}
.icon {
    font-size: 62px;
    vertical-align: middle;
    width: 56px;
}
.icon, .icon-circle>*, .social-icons>li {
    display: inline-block;
}
a {
    color: inherit;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.btn, a {
    transition: all .2s ease-in-out;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.bg-primary, .btn-primary, .progress-bar-primary, .te-primary:before, .icon-circle.icon-primary, .nav-vertical > li > a:before, .nav-horizontal > li > a:before, #messenger-box:before, #messenger-toggle:hover, #messenger-toggle:focus, .icon-white.icon-hover:hover, .icon-white.icon-hover:focus, .pace .pace-progress:before, .label-primary, .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover, .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover, .nav-panels > li.active > a, .nav-panels > li.active > a:focus, .nav-panels > li.active > a:hover, #ajax-loader:before, .owl-pagination .owl-page.active > span {
    background-color: #3aa8db;
}
.icon-sm.icon-circle {
    font-size: 16px;
    height: 56px;
}
.icon.icon-hover {
    transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus, :focus, a:focus, a:visited, input:focus, textarea:focus {
    outline: 0;
}
.icon-sm {
    font-size: 42px;
    width: 56px;
}
.icon-circle {
    position: relative;
    font-size: 32px;
    height: 56px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
}
.icon {
    font-size: 62px;
    vertical-align: middle;
    width: 56px;
}
.icon, .icon-circle>*, .social-icons>li {
    display: inline-block;
}
a {
    color: inherit;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.btn, a {
    transition: all .2s ease-in-out;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}


.icon-circle>* {
    position: absolute;
    top: 49%;
    left: 49%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
}
.icon, .icon-circle>*, .social-icons>li {
    display: inline-block;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sm.icon-circle {
    font-size: 16px;
    height: 56px;
}
.icon.icon-hover {
    transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus, :focus, a:focus, a:visited, input:focus, textarea:focus {
    outline: 0;
}
a:hover, a:focus, .text-primary, .icon-white, #messenger-toggle, .btn-primary:hover, .btn-primary:focus, .icon-primary.icon-hover:hover, .icon-primary.icon-hover:focus {
    color: #3aa8db;
}
.icon-white {
    background-color: #fff;
}
.icon-black.icon-hover:focus, .icon-black.icon-hover:hover, .icon-grey, .icon-grey.icon-hover:focus, .icon-grey.icon-hover:hover, .icon-white, .icon-white.icon-hover:focus, .icon-white.icon-hover:hover {
    color: #282828;
}
.icon-sm {
    font-size: 42px;
    width: 56px;
}
.icon-circle {
    position: relative;
    font-size: 32px;
    height: 56px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
}
.icon {
    font-size: 62px;
    vertical-align: middle;
    width: 56px;
}
.icon, .icon-circle>*, .social-icons>li {
    display: inline-block;
}
a {
    color: inherit;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.btn, a {
    transition: all .2s ease-in-out;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}

.icon-circle>* {
    position: absolute;
    top: 49%;
    left: 49%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
}

.icon, .icon-circle>*, .social-icons>li {
    display: inline-block;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.gallery-item .item-title {
    text-align: center;
    padding: 25px 10px;
    background-color: #fff;
}

.gallery-item .item-title .title {
    font-size: 15px;
    font-weight: 500;
    display: block;
    line-height: 1;
}

@media only screen and (max-width: 1000px){
.brick{
    margin:25px;
      padding-left: 35px;
            padding-right: 35px;
            width: 100%;
           

}

}

@media only screen and (min-width: 1000px){
.brick1{
     width: 40%;
}

}

.brick img { width: 100.5%; }


.gallery-item:hover .item-hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
.gallery-item .item-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5% 10%;
    transition: all .5s;
    -webkit-transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.bg-dark {
    background-color: rgba(0,0,0,.7);
}
.dark, .nav-vertical>li.active>a, .nav-vertical>li>a.active {
    color: #fff;
}



    .ajax-body {
    padding-top: 90px;
    padding-bottom: 90px;
}
@media only screen and (max-width: 1480px){
.header-vertical .section {
    padding-left: 280px;
}
}
.header-vertical .section {
    padding-left: 320px;
}
.bg-white {
    background-color: #fff;
}
.section, .speciality-icon, .timeline, .timeline-event {
    position: relative;
}
#messenger, .gallery-item, .section {
    overflow: hidden;
}


@media only screen and (max-width: 1480px){
.container-wide {
    width: 90%;
}

}

.container-wide {
    width: 80%;
}

.margin-b-50 {
    margin-bottom: 50px!important;
}

h1 {
    font-size: 42px;
    margin-bottom: 34px;
}
h1, h2, h3, h4 {
    font-family: 'Roboto Condensed';
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

p.lead {
    font-size: 18px;
    margin-bottom: 25px;
}
.text-light, p.lead {
    font-weight: 300;
}

.margin-b-80 {
    margin-bottom: 80px!important;
}

.margin-b-10 {
    margin-bottom: 10px!important;
}
img {
    max-width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
}


.modal-fullscreen {
  background: transparent;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}


.close{
    position: fixed;
    top: 3%;
    right: 3%;
}


.margin-b-30 {
    margin-bottom: 30px!important;
}