<div class="row" >
<div class="col-md-3 hidden-sm hidden-xs"></div>
<div class="col-md-9 col-sm-12 col-xs-12" >

            <h6 class="margin-b-50">Resume</h6>
            
            <div class="row padding-lg">
                <div class="col-md-4 col-sm-6 col-xs-12">

                    <!-- Resume Box / About -->
                    <div class="resume-box" >
                        <span class="icon animated" [ngClass]="animate" ><i class="ti-comment-alt text-tertiary"></i></span>
                        <h4><strong>About</strong> Me</h4>
                        <p class="lead">Sed porttitor nulla eget enim gravida blandit. Integer risus nunc, molestie a nibh in, interdum fringilla urna.</p>
                        <p>Sed lacinia, nibh sit amet auctor vestibulum, enim risus condimentum erat, quis vestibulum mi ligula a nulla. Nulla vitae pharetra tellus. 
                        Aenean ac tincidunt augue, volutpat ullamcorper elit.</p>   
                    </div>

                    <!-- Resume Box / Skills -->
                    <div class="resume-box">
                        <span class="icon animated" [ngClass]="animate" ><i class="ti-cup text-tertiary"></i></span>
                        <h4><strong>Skills</strong> &amp; abilities</h4>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    <span>90%</span>
                                </div>
                            </div>
                            <strong>HTML5</strong>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    <span>90%</span>
                                </div>
                            </div>
                            <strong>CSS3</strong>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                    <span>80%</span>
                                </div>
                            </div>
                            <strong>JavaScript / jQuery</strong>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span>60%</span>
                                </div>
                            </div>
                            <strong>AngularJS</strong>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">

                    <!-- Resume Box / Specilities -->
                    <div class="resume-box">
                        <span class="icon animated"  [ngClass]="animate" ><i class="ti-mouse-alt text-tertiary"></i></span>
                        <h4>My <strong>Specialities</strong></h4>
                        <!-- Speciality -->
                        <div class="speciality">
                            <span class="speciality-icon"><i class="text-muted-2x ti-desktop"></i></span>
                            <div class="speciality-content">
                                <h5 class="margin-b-0">Website production</h5>
                                <p class="speciaity-description">Great, modern website designes.</p>
                            </div>
                        </div>
                        <!-- Speciality -->
                        <div class="speciality">
                            <span class="speciality-icon"><i class="text-muted-2x ti-layers-alt"></i></span>
                            <div class="speciality-content">
                                <h5 class="margin-b-0">Front-End Development</h5>
                                <p class="speciaity-description">Great, modern website designes.</p>
                            </div>
                        </div>
                        <!-- Speciality -->
                        <div class="speciality">
                            <span class="speciality-icon"><i class="text-muted-2x ti-mobile"></i></span>
                            <div class="speciality-content">
                                <h5 class="margin-b-0">Responsive design</h5>
                                <p class="speciaity-description">Great, modern website designes.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Resume Box / Education and Jobs -->
                    <div class="resume-box">
                        <span class="icon animated " [ngClass]="animate" ><i class="ti-calendar text-tertiary"></i></span>
                        <h4><strong>Education</strong> &amp; jobs</h4>
                        <div class="timeline">
                            <!-- Single event -->
                            <div class="timeline-event te-primary">
                                <span class="event-date">Jan 2004 - Dec 2006</span>
                                <span class="event-name">Specialization course</span>
                                <span class="event-description">University of studies, Poland, Cracow</span>
                            </div>
                            <!-- Single event -->
                            <div class="timeline-event te-primary">
                                <span class="event-date">Jan 2004 - Dec 2006</span>
                                <span class="event-name">Specialization course</span>
                                <span class="event-description">University of studies, Poland, Cracow</span>
                            </div>
                            <!-- Single event -->
                            <div class="timeline-event te-primary">
                                <span class="event-date">Jan 2004 - Dec 2006</span>
                                <span class="event-name">Specialization course</span>
                                <span class="event-description">University of studies, Poland, Cracow</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">

                    <!-- Resume Box / Languages -->
                    <div class="resume-box">
                        <span class="icon animated" [ngClass]="animate" ><i class="ti-cup text-tertiary"></i></span>
                        <h4><strong>Language</strong> skills</h4>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                    <span>100%</span>
                                </div>
                            </div>
                            <strong>Polish</strong>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                    <span>85%</span>
                                </div>
                            </div>
                            <strong>English</strong>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                    <span>40%</span>
                                </div>
                            </div>
                            <strong>German</strong>
                        </div>
                    </div>

                    <!-- Resume Box / Hobbies -->
                    <div class="resume-box">
                        <span class="icon animated " [ngClass]="animate"  ><i class="ti-music-alt text-tertiary"></i></span>
                        <h4><strong>Hobbies</strong> &amp; Interests</h4>
                            <ul class="list-inline">
                            <li>
                                <div class="icon-box text-center">
                                    <span class="icon icon-sm icon-circle icon-primary icon-filled"><i class="ti-music-alt"></i></span>
                                    <span class="title">Music</span>
                                </div> 
                            </li> 
                            <li>
                                <div class="icon-box text-center">
                                    <span class="icon icon-sm icon-circle icon-primary icon-filled"><i class="ti-camera"></i></span>
                                    <span class="title">Photography</span>
                                </div> 
                            </li> 
                            <li>
                                <div class="icon-box text-center">
                                    <span class="icon icon-sm icon-circle icon-primary icon-filled"><i class="ti-map-alt"></i></span>
                                    <span class="title">Travel</span>
                                </div> 
                            </li> 
                        </ul>
                    </div>

                </div>
            </div>     

        


  </div>
