.text-tertiary{

    color: #caa669;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}


.icon-box {
    margin-bottom: 30px;
}
.btn>*, .icon-box {
    display: inline-block;
}
.text-center {
    text-align: center;
}




.bg-primary, .btn-primary, .progress-bar-primary, .te-primary:before, .icon-circle.icon-primary, .nav-vertical > li > a:before, .nav-horizontal > li > a:before, #messenger-box:before, #messenger-toggle:hover, #messenger-toggle:focus, .icon-white.icon-hover:hover, .icon-white.icon-hover:focus, .pace .pace-progress:before, .label-primary, .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover, .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover, .nav-panels > li.active > a, .nav-panels > li.active > a:focus, .nav-panels > li.active > a:hover, #ajax-loader:before, .owl-pagination .owl-page.active > span {
    background-color: #3aa8db;
}
.icon-sm.icon-circle {
    font-size: 16px;
    height: 56px;
}
.icon-box .icon {
    margin-bottom: 10px;
}
.icon-sm {
    font-size: 42px;
    width: 56px;
}
.icon-circle {
    position: relative;
    font-size: 32px;
    height: 84px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
}
.icon {
    font-size: 62px;
    vertical-align: middle;
}
.icon, .icon-circle>*, .social-icons>li {
    display: inline-block;
}




.icon-circle>* {
    position: absolute;
    top: 49%;
    left: 49%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
}

.icon, .icon-circle>*, .social-icons>li {
    display: inline-block;
}



.margin-b-50 {
    margin-bottom: 50px!important;

    margin-top: 5%;
    font-size: x-large;
}

h6 {
    font-size: 13px;
    color: rgba(0,0,0,.3);
    margin-bottom: 16px;
}
h5, h6 {
    font-weight: 600;
}


.speciality {
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
}

.speciality-icon {
    top: -2px;
    float: left;
    font-size: 36px;
}

.speciality-content {
    padding-top: 6px;
    padding-left: 66px;
}


p.lead {
    font-size: 18px;
    margin-bottom: 25px;
}
.text-light, p.lead {
    font-weight: 300;
}
@media (min-width: 768px)
.lead {
    font-size: 21px;
}
.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}
h5, p {
    margin-bottom: 20px;
}

.margin-b-0 {
    margin-bottom: 0!important;
}
h5 {
    font-size: 18px;
}
h5, h6 {
    font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h4 {
    font-size: 24px;
    margin-bottom: 24px;
}
h1, h2, h3, h4 {
    font-family: 'Roboto Condensed';
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.timeline {
    border-left: 1px solid #eaeaea;
    padding: 30px 0;
}


.speciality-icon, .timeline, .timeline-event {
    position: relative;
}

.timeline-event {
    padding-left: 30px;
    padding-bottom: 30px;
}


.bg-primary, .btn-primary, .progress-bar-primary, .te-primary:before, .icon-circle.icon-primary, .nav-vertical > li > a:before, .nav-horizontal > li > a:before, #messenger-box:before, #messenger-toggle:hover, #messenger-toggle:focus, .icon-white.icon-hover:hover, .icon-white.icon-hover:focus, .pace .pace-progress:before, .label-primary, .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover, .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover, .nav-panels > li.active > a, .nav-panels > li.active > a:focus, .nav-panels > li.active > a:hover, #ajax-loader:before, .owl-pagination .owl-page.active > span {
    background-color: #3aa8db;
}
.timeline-event:before {
    position: absolute;
    top: 0;
    left: -9px;
    width: 7px;
    height: 7px;
    border: 5px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    content: " ";
}


.event-date {
    font-weight: 500;
    font-size: 11px;
    margin-bottom: 15px;
}
.gallery-item, .timeline-event>* {
    display: block;
}


.event-name {
    font-weight: 500;
    font-size: 14px;
}
.gallery-item, .timeline-event>* {
    display: block;
}

.event-description {
    font-size: 11px;
    color: #757575;
}

.gallery-item, .timeline-event>* {
    display: block;
}

.animated{
    visibility: hidden;
}

.animated.visible{
    visibility: visible;
}



