<div class="row" >
<div class="col-md-3 hidden-sm hidden-xs"></div>
<div class="col-md-9 col-sm-12 col-xs-12" >

            <h6 class="margin-b-50">Resume</h6>
            
            <div class="row padding-lg">
                <div class="col-md-4 col-sm-6 col-xs-12">

                    <!-- Resume Box / About -->
                    <div class="resume-box" >
                        <span class="icon animated" [ngClass]="animate" ><i class="ti-comment-alt text-tertiary"></i></span>
                        <h4><strong>About</strong> Me</h4>
                        <p class="lead">I am Rahul Sachdeva who loves to develop flaw less designs in back-end with the help of PHP or Python and on front-end with Angular using CSS3</p>
                        <p>Would love to work with an organization who shares the same passion that I do while working on a Product.</p>   
                    </div>

                    <!-- Resume Box / Skills -->
                    <div class="resume-box">
                        <span class="icon animated" [ngClass]="animate" ><i class="ti-cup text-tertiary"></i></span>
                        <h4><strong>Skills</strong> &amp; abilities</h4>
                        <!-- Skill -->
                        <div class="skill">
                            <!-- <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    <span>90%</span>
                                </div>
                            </div> -->

                            <md-progress-bar
                             
                              color="'accent'"
                              mode ="intermediate"
                              [value]="90"
                             >
                             <span>90%</span>
                          </md-progress-bar>
                            <strong>HTML5</strong>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <!-- <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    <span>90%</span>
                                </div>
                            </div> -->

                            <md-progress-bar
                             
                              color="'accent'"
                              mode ="intermediate"
                              [value]="90"
                             >
                             <span>90%</span>
                          </md-progress-bar>
                            <strong>CSS3</strong>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <!-- <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                    <span>80%</span>
                                </div>
                            </div> -->

                            <md-progress-bar
                             
                              color="'accent'"
                              mode ="intermediate"
                              [value]="80"
                             >
                             <span>80%</span>
                          </md-progress-bar>
                            <strong>JavaScript</strong>
                        </div>

                         <!-- Skill -->
                        <div class="skill">
                            <!-- <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                    <span>80%</span>
                                </div>
                            </div> -->

                            <md-progress-bar
                             
                              color="'accent'"
                              mode ="intermediate"
                              [value]="80"
                             >
                             <span>80%</span>
                          </md-progress-bar>
                            <strong>Python</strong>
                        </div>

                         <!-- Skill -->
                        <div class="skill">
                            <!-- <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                    <span>80%</span>
                                </div>
                            </div> -->

                            <md-progress-bar
                             
                              color="'accent'"
                              mode ="intermediate"
                              [value]="75"
                             >
                             <span>75%</span>
                          </md-progress-bar>
                            <strong>Laravel</strong>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <!-- <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span>60%</span>
                                </div>
                            </div> -->

                            <md-progress-bar
                             
                              color="'accent'"
                              mode ="intermediate"
                              [value]="80"
                             >
                             <span>80%</span>
                          </md-progress-bar>
                            <strong>Angular</strong>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">

                    <!-- Resume Box / Specilities -->
                    <div class="resume-box">
                        <span class="icon animated"  [ngClass]="animate" ><i class="ti-mouse-alt text-tertiary"></i></span>
                        <h4>My <strong>Specialities</strong></h4>
                        <!-- Speciality -->
                        <div class="speciality">
                            <span class="speciality-icon"><i class="text-muted-2x ti-desktop"></i></span>
                            <div class="speciality-content">
                                <h5 class="margin-b-0">Website production</h5>
                                <p class="speciaity-description">Great, modern website designs.</p>
                            </div>
                        </div>
                        <!-- Speciality -->
                        <div class="speciality">
                            <span class="speciality-icon"><i class="text-muted-2x ti-layers-alt"></i></span>
                            <div class="speciality-content">
                                <h5 class="margin-b-0">Front-End Development</h5>
                                <p class="speciaity-description">Great, modern website designs.</p>
                            </div>
                        </div>
                        <!-- Speciality -->
                        <div class="speciality">
                            <span class="speciality-icon"><i class="text-muted-2x ti-mobile"></i></span>
                            <div class="speciality-content">
                                <h5 class="margin-b-0">Responsive design</h5>
                                <p class="speciaity-description">Great, modern website designs.</p>
                            </div>
                        </div>
                        <!-- Speciality -->
                        <div class="speciality">
                            <span class="speciality-icon"><i class="text-muted-2x ti-server"></i></span>
                            <div class="speciality-content">
                                <h5 class="margin-b-0">Back-End Development</h5>
                                <p class="speciaity-description">Great, modern web designs.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Resume Box / Education and Jobs -->
                    <div class="resume-box">
                        <span class="icon animated " [ngClass]="animate" ><i class="ti-calendar text-tertiary"></i></span>
                        <h4><strong>Education</strong> &amp; jobs</h4>
                        <div class="timeline">
                            <!-- Single event -->
                            <div class="timeline-event te-primary">
                                <span class="event-date">Aug 2014 - Jul 2016</span>
                                <span class="event-name">Master of Computer Application</span>
                                <span class="event-description">Thapar University,Patiala</span>
                            </div>
                            <!-- Single event -->
                            <div class="timeline-event te-primary">
                                <span class="event-date">Aug 2011 - July 2014</span>
                                <span class="event-name">Bachelor of Computer Application</span>
                                <span class="event-description">GGSIPU,Delhi</span>
                            </div>
                            <!-- Single event -->
                            
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">

                    <!-- Resume Box / Languages -->
                    <div class="resume-box">
                        <span class="icon animated" [ngClass]="animate" ><i class="ti-cup text-tertiary"></i></span>
                        <h4><strong>Language</strong> skills</h4>
                        <!-- Skill -->
                        <div class="skill">
                            <!-- <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                    <span>100%</span>
                                </div>
                            </div> -->

                            <md-progress-bar
                             
                              color="'accent'"
                              mode ="intermediate"
                              [value]="100"
                             >
                             <span>100%</span>
                          </md-progress-bar>
                            <strong>English</strong>
                        </div>
                        <!-- Skill -->
                        <div class="skill">
                            <!-- <div class="progress progress-animated">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                    <span>85%</span>
                                </div>
                            </div> -->

                            <md-progress-bar
                             
                              color="'accent'"
                              mode ="intermediate"
                              [value]="90"
                             >
                             <span>90%</span>
                          </md-progress-bar>
                            <strong>Hindi</strong>
                        </div>
                        <!-- Skill -->
                    
                    </div>

                    <!-- Resume Box / Hobbies -->
                    <div class="resume-box">
                        <span class="icon animated " [ngClass]="animate"  ><i class="ti-music-alt text-tertiary"></i></span>
                        <h4><strong>Hobbies</strong> &amp; Interests</h4>
                            <ul class="list-inline">
                            <li>
                                <div class="icon-box text-center">
                                    <span class="icon icon-sm icon-circle icon-primary icon-filled"><i class="ti-music-alt"></i></span>
                                    <span class="title">Music</span>
                                </div> 
                            </li> 
                            <li>
                                <div class="icon-box text-center">
                                    <span class="icon icon-sm icon-circle icon-primary icon-filled"><i class="ti-camera"></i></span>
                                    <span class="title">Photography</span>
                                </div> 
                            </li> 
                            <li>
                                <div class="icon-box text-center">
                                    <span class="icon icon-sm icon-circle icon-primary icon-filled"><i class="ti-map-alt"></i></span>
                                    <span class="title">Travel</span>
                                </div> 
                            </li> 
                        </ul>
                    </div>

                </div>
            </div>     

        


  </div>
