.bg-1{
	background-color: #1abc9c;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 10000;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;



}

