<a id="messenger-toggle" class="icon icon-sm icon-circle animated bounceIn visible messenger" [style.position]="'fixed'" [style.bottom.%]="10" [style.right.%]="9" (click)="onToggle()"><i class="fa fa-comments"></i></a>


<div id="messenger-box"   >
        <div class="messenger-box-content messenger-boxx" *ngIf="messengerBox" [@fadeInOut]>

            <a  class="messenger-close icon icon-hover icon-xs icon-circle icon-white"  (click)="onToggle()"><i class="fa fa-times"></i></a>

            <img src="assets/img/photos/rahul-thmb.jpg" alt="..." class="img-circle margin-b-30">
            <h3 class="messenger-heading">Please fill the <strong>form</strong> - I will response as fast as I can!</h3>

            <form id="contact-form" novalidate="novalidate">
                <div class="form-alert"></div>
                <div class="form-error alert alert-default"><ul></ul></div>
                <div class="form-group">
                    <label>Name:</label>
                    <input id="name" class="form-control" type="text" name="name">
                </div>
                <div class="form-group">
                    <label>Addres e-mail:</label>
                    <input id="email" class="form-control" type="text" name="email">
                </div>
                <div class="form-group">
                    <label>Message:</label>
                    <textarea id="message" class="form-control" name="message" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-secondary"><span>Send a message!</span><i class="ti-email"></i></button>
            </form>
        </div>
    </div>