<!-- <div id="wrapper" [ngClass]="toggle" >

        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div> -->
        <!-- /#sidebar-wrapper

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#" class="btn btn-default" id="menu-toggle" (click)="toggle=toggle==''?'toggled':'' " >Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


 -->
<!-- 
    <ul>
      <li [class.current]="id=='s1'" (click)="scrollable.el.scrollTo('s1')">One
      <li [class.current]="id=='s2'" (click)="scrollable.el.scrollTo('s2')">Two
      <li [class.current]="id=='s3'" (click)="scrollable.el.scrollTo('s3')">Three
      <li [class.current]="id=='s4'" (click)="scrollable.el.scrollTo('s4')">Four
      <li [class.current]="id=='s5'" (click)="scrollable.el.scrollTo('s5')">Five
      <li [class.current]="id=='s6'" (click)="scrollable.el.scrollTo('s6')">Six
      <li [class.current]="id=='s7'" (click)="scrollable.el.scrollTo('s7')">Seven
      <li [class.current]="id=='s8'" (click)="scrollable.el.scrollTo('s8')">Eight
      <li [class.current]="id=='s9'" (click)="scrollable.el.scrollTo('s9')">Nine
    </ul>
    <div class="scrollable" (scrolledTo)="id=$event" ng2-scrollable>
      <div id="s1">One</div>
      <div id="s2">Two</div>
      <div id="s3">Three</div>
      <div id="s4">Four</div>
      <div id="s5">Five</div>
      <div id="s6">Six</div>
      <div id="s7">Seven</div>
      <div id="s8">Eight</div>
      <div id="s9">Nine</div>
    </div> -->






   
