<header id="header" class="bg-white bg-navbar hidden-sm hidden-xs">

    
    <div class="photo">
        <img class="photo-img" src="../../../assets/img/photos/it-avatar.jpg" alt="profile picture">
    </div>

   
    <nav id="main-menu">
        <ul class="nav nav-vertical">
            <li><a pageScroll href="#start" class="active"><span>Start</span></a></li>
            <li><a pageScroll href="#resume"><span>Resume</span></a></li>
            <li><a pageScroll href="#portfolio"><span>Portfolio</span></a></li>
            <li><a pageScroll href="#testimonials"><span>Testimonials</span></a></li>
            <li><a pageScroll href="#posts"><span>Latest Posts</span></a></li>
            <li><a pageScroll href="#contact"><span>Contact</span></a></li>
           
        </ul>
    </nav>

    
    <div class="social-media">
        <strong class="text-sm">Check my social media!</strong>
        <ul class="list-inline margin-t-10">
            <li><a href="#" class="icon icon-xs"><i class="fa fa-facebook text-muted"></i></a></li>
            <li><a href="#" class="icon icon-xs"><i class="fa fa-twitter text-muted"></i></a></li>
            <li><a href="#" class="icon icon-xs"><i class="fa fa-google-plus text-muted"></i></a></li>
        </ul>
    </div>

</header>







<a href="#" id="mobile-nav-toggle" class="icon icon-circle icon-sm icon-primary icon-hover visible-xs visible-sm hidden-lg hidden-md" (click)="sidenav.toggle();visibility='hidden';widthMobnav=30 " [style.visibility] ="visibility"  >
    <i class="fa fa-bars menu-bar-icon"></i>
</a>

<md-sidenav-container class="mobile-side-nav  hidden-lg hidden-md" [style.height.px] ="mobNavHeight" >
  <md-sidenav #sidenav mode="over" align="end" opened="false" class="bg-white inner-mobile-side-nav">
   

	







    

<div  class="bg-white ">
    
        <img src="../../../assets/img/photos/it-avatar-96x96.jpg" alt="..." class="img-circle margin-b-30">

        <ul class="nav nav-vertical">
            <li><a href="#start" class=""><span>Start</span></a></li>
            <li><a href="#resume" class=""><span>Resume</span></a></li>
            <li><a href="#portfolio" class=""><span>Portfolio</span></a></li>
            <li><a href="#testimonials" class=""><span>Testimonials</span></a></li>
            <li><a href="#posts" class=""><span>Latest Posts</span></a></li>
            <li><a href="#contact" class="active"><span>Contact</span></a></li>
            <li><a href="page-vertical.html" target="_blank"><span>Promo Page</span><span class="label label-primary margin-l-10">NEW!</span></a></li>
            <li><a href="documentation.html" target="_blank"><span>Documentation</span></a></li>
        </ul>

        <div class="margin-t-20">
            <strong class="text-sm">Check my social media!</strong>
            <ul class="list-inline margin-t-10">
                <li><a href="#" class="icon icon-xs"><i class="fa fa-facebook text-muted"></i></a></li>
                <li><a href="#" class="icon icon-xs"><i class="fa fa-twitter text-muted"></i></a></li>
                <li><a href="#" class="icon icon-xs"><i class="fa fa-google-plus text-muted"></i></a></li>
            </ul>
    </div>
    <a href="#" class="mobile-nav-close icon icon-hover icon-xs icon-circle icon-primary" (click)="sidenav.toggle();visibility='visible';widthMobnav=0 "><i class="fa fa-times"></i></a>
</div>
  </md-sidenav>
  



  
</md-sidenav-container>