/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';


body{
	margin: 0px;
}
.row{
	margin: 0px;

}



/*a {
		color: inherit;
		transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
	}
	
	a:hover, a:focus { text-decoration: none; }

	textarea:focus, input:focus, a:focus, a:visited, *:focus { outline: none; }

	iframe { border: none; }

	img { max-width: 100%; height: auto; -webkit-backface-visibility: hidden;}
	*/