img {
    max-width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}

.bg-grey{
	background-color: #f8f8f8;
}



.margin-b-50 {
    margin-bottom: 50px!important;
        margin-top: 5%;
}


h6 {
    font-size: 13px;
    color: rgba(0,0,0,.3);
    margin-bottom: 16px;
}
h5, h6 {
    font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
.example-box-title, .label, h6 {
    text-transform: uppercase;
    background-color: #3aa8db;
}


.post {
    margin-bottom: 30px;
}


#ajax-loader, .post .post-photo+.post-content {
    margin-top: -25px;
}
.post-item .post-content {
    margin-bottom: 0;
}
.post .post-content {
    position: relative;
    margin: 0 15px 30px;
    background: #fff;
    color: #282828;
    padding: 25px 30px;
    z-index: 2;
    transition: all .5s;
    -webkit-transition: all .5s;
}


.post .meta {
    font-size: 11px;
    padding-bottom: 21px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.example-box, .post .date, .post .meta {
    margin-bottom: 20px;
}


.post .meta>span:not(:last-child) {
    margin-right: 13px;
}


.post .meta>span>i {
    margin-right: 5px;
    opacity: .2;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


a {
    color: inherit;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}




.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus, :focus, a:focus, a:visited, input:focus, textarea:focus {
    outline: 0;
}
a {
    color: inherit;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.btn, a {
    transition: all .2s ease-in-out;
}


.post .date {
    font-size: 14px;
    font-weight: 900;
}
.example-box, .post .date, .post .meta {
    margin-bottom: 20px;
}


.post-item h1 {
    font-size: 36px;
}
h1 {
    font-size: 42px;
    margin-bottom: 34px;
}
h1, h2, h3, h4 {
    font-family: 'Roboto Condensed';
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

p.lead {
    font-size: 18px;
    margin-bottom: 25px;
}
.text-light, p.lead {
    font-weight: 300;
}
@media (min-width: 768px)
.lead {
    font-size: 21px;
}


h5, p {
    margin-bottom: 20px;
}
p {
    margin: 0 0 10px;
}



.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus, :focus, a:focus, a:visited, input:focus, textarea:focus {
    outline: 0;
}
.btn.btn-primary {
    background-color: #3aa8db;
}
.btn-xs {
    padding: 9px 26px 11px;
    border-radius: 20px;
    font-size: 11px;
}
.btn {

    position: relative;
    padding: 15px 32px 17px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: none;
    font-size: 13px;
    background: 0 0;
    font-weight: 600;
    margin-bottom: 2px;
    color: #fff;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.btn, a {

    transition: all .2s ease-in-out;
}