<div class="row bg-grey">
<div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>

<div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">

<section id="posts" class="section  padding-v-60">

        <!-- Content -->
        <div class=" container-wide">

            <h6 class="margin-b-50">Latest Posts</h6>
            
            <div class="row masonry" style="position: relative; height: 1315px;">
                <!-- Masonry Sizer -->
                <div class="masonry-sizer col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>    
                <!-- Masonry Element / Post -->
                <article class="post post-item masonry-item col-lg-4 col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 0%; top: 0px;">
                    <div class="post-photo">
                        <img src="assets/img/photos/post01.jpg" alt="...">
                    </div>
                    <div class="post-content animated fadeInUp visible" data-animation="fadeInUp">
                        <div class="meta">
                            <span><i class="fa fa-comment"></i><a href="#">4</a></span>
                            <span><i class="fa fa-user"></i><a href="#">John Doe</a></span>
                            <span><i class="fa fa-tag"></i><a href="#">Webdevelopment</a></span>
                        </div>
                        <div class="date">22 May, 2014</div>
                        <h1><a href="#">Awesome Seattle Cycle Trip</a></h1>
                        <p class="lead">Per sint eirmod expetenda te. Pro ne essent.</p>
                        <p>Per ea tibique fabellas electram. Ea aliquam corpora vis. Ne quot civibus atomorum quo. </p>
                        <a href="blog-post-vertical.html" class="btn btn-primary btn-xs"><span>Read more</span><i class="ti-arrow-right"></i></a>
                    </div>
                </article>
                <!-- Masonry Element / Post -->
                <article class="post post-item masonry-item col-lg-4 col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 33.3107%; top: 0px;">
                    <div class="post-content animated fadeInUp visible" data-animation="fadeInUp">
                        <div class="meta">
                            <span><i class="fa fa-comment"></i><a href="#">4</a></span>
                            <span><i class="fa fa-user"></i><a href="#">John Doe</a></span>
                            <span><i class="fa fa-tag"></i><a href="#">Webdesign</a></span>
                        </div>
                        <div class="date">22 May, 2014</div>
                        <h1><a href="#">Awesome Seattle Cycle Trip</a></h1>
                        <p class="lead">Per sint eirmod expetenda te. Pro ne essent.</p>
                        <p>Per ea tibique fabellas electram. Ea aliquam corpora vis. Ne quot civibus atomorum quo. </p>
                        <a href="blog-post-vertical.html" class="btn btn-primary btn-xs"><span>Read more</span><i class="ti-arrow-right"></i></a>
                    </div>
                </article>
                <!-- Masonry Element / Post -->
                <article class="post post-item masonry-item col-lg-4 col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 66.6215%; top: 0px;">
                    <div class="post-photo">
                        <img src="assets/img/photos/post02.jpg" alt="...">
                    </div>
                    <div class="post-content animated fadeInUp visible" data-animation="fadeInUp">
                        <div class="meta">
                            <span><i class="fa fa-comment"></i><a href="#">4</a></span>
                            <span><i class="fa fa-user"></i><a href="#">John Doe</a></span>
                            <span><i class="fa fa-tag"></i><a href="#">Front-End Development</a></span>
                        </div>
                        <div class="date">22 May, 2014</div>
                        <h1><a href="#">Awesome Seattle Cycle Trip</a></h1>
                        <p class="lead">Per sint eirmod expetenda te. Pro ne essent.</p>
                        <p>Per ea tibique fabellas electram. Ea aliquam corpora vis. Ne quot civibus atomorum quo. </p>
                        <a href="blog-post-vertical.html" class="btn btn-primary btn-xs"><span>Read more</span><i class="ti-arrow-right"></i></a>
                    </div>
                </article>
                <!-- Masonry Element / Post -->
                <article class="post post-item masonry-item col-lg-4 col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 33.3107%; top: 587px;">
                    <div class="post-photo">
                        <img src="assets/img/photos/post03.jpg" alt="...">
                    </div>
                    <div class="post-content animated fadeInUp visible" data-animation="fadeInUp">
                        <div class="meta">
                            <span><i class="fa fa-comment"></i><a href="#">4</a></span>
                            <span><i class="fa fa-user"></i><a href="#">John Doe</a></span>
                            <span><i class="fa fa-tag"></i><a href="#">Webdevelopment</a></span>
                        </div>
                        <div class="date">22 May, 2014</div>
                        <h1><a href="#">Awesome Seattle Cycle Trip</a></h1>
                        <p class="lead">Per sint eirmod expetenda te. Pro ne essent.</p>
                        <p>Per ea tibique fabellas electram. Ea aliquam corpora vis. Ne quot civibus atomorum quo. </p>
                        <a href="blog-post-vertical.html" class="btn btn-primary btn-xs"><span>Read more</span><i class="ti-arrow-right"></i></a>
                    </div>
                </article>
            </div>  

        </div>
        
    </section>


</div>

</div>