<div class="row bg-primary">
<div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
<section id="testimonials" class="section  dark padding-v-60">

        <!-- Content -->
        <div class=" container-wide">

            <h6 class="margin-b-50">Testimonials</h6>

            <h1 class="margin-b-0"><strong>4</strong> years of experience - <strong>over 1k</strong> happy clients!</h1>
            <h5 class="text-muted margin-b-60">Look at their opinions!</h5>
            
            <div class="row padding-lg">
                
                <div class="col-lg-4 col-sm-6">
                    <!-- Testimonial -->
                    <div class="testimonial testimonial-dark">
                      <div class="testimonial-content font-alt">
                          Non odio maximus, eget ultrices mauris rutrum. Phasellus non diam in neque interdum gravida. 
                      </div>
                      <div class="testimonial-author testimonial-with-photo">
                          <div class="testimonial-photo animated" [ngClass]="animate" ><img class="img-circle" src="assets/img/photos/testimonial-avatar01.jpg" alt=""></div>
                          <div class="testimonial-author-txt">
                              <span class="name">Mark Wagner</span>
                              <span class="caption text-secondary">Google Inc.</span>
                          </div>
                      </div>
                    </div>
                    <!-- Testimonial -->
                    <div class="testimonial testimonial-dark">
                      <div class="testimonial-content font-alt">
                          Sed lacinia, nibh sit amet auctor vestibulum, enim risus condimentum erat, quis vestibulum mi ligula a nulla. Nulla vitae pharetra tellus. 
                      </div>
                      <div class="testimonial-author testimonial-with-photo">
                          <div class="testimonial-photo animated " [ngClass]="animate" ><img class="img-circle" src="assets/img/photos/testimonial-avatar02.jpg" alt=""></div>
                          <div class="testimonial-author-txt">
                              <span class="name">Mark Wagner</span>
                              <span class="caption text-secondary">Google Inc.</span>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <!-- Testimonial -->
                    <div class="testimonial testimonial-dark">
                      <div class="testimonial-content font-alt">
                          Sed lacinia, nibh sit amet auctor vestibulum, enim risus condimentum erat, quis vestibulum mi ligula a nulla. Nulla vitae pharetra tellus.<br><br>
                          Aenean ac tincidunt augue, volutpat ullamcorper elit.
                      </div>
                      <div class="testimonial-author testimonial-with-photo">
                          <div class="testimonial-photo animated  " [ngClass]="animate" ><img class="img-circle" src="assets/img/photos/testimonial-avatar03.jpg" alt=""></div>
                          <div class="testimonial-author-txt">
                              <span class="name">Mark Wagner</span>
                              <span class="caption text-secondary">Google Inc.</span>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <!-- Testimonial -->
                    <div class="testimonial testimonial-dark">
                      <div class="testimonial-content font-alt">
                          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                      </div>
                      <div class="testimonial-author testimonial-with-photo">
                          <div class="testimonial-photo animated" [ngClass]="animate" ><img class="img-circle" src="assets/img/photos/testimonial-avatar04.jpg" alt=""></div>
                          <div class="testimonial-author-txt">
                              <span class="name">Mark Wagner</span>
                              <span class="caption text-secondary">Google Inc.</span>
                          </div>
                      </div>
                    </div>
                </div>

            </div>  

        </div>
        
    </section>


</div>